.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
app/backend/trained_model/
requirements.txt
docker-compose.yml
app/Dockerfile.frontend
app/Dockerfile.backend
app/backend/class_indices.json
app/backend/treatment_data.json
